@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #596D48;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.625rem 2.5rem;
    border-color: #596D48;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    background-color: #f9fafb;
}

.container > * {
    padding-left: 3rem;
}

.left {
    flex: 1.5 1 0;
    overflow: hidden;
    position: relative;
}

.left_img {
    width: 100%;
    height: 100%;
    position:relative;
}

input {
    font-size: 1.2rem;
    height: 2rem;
    width: 15rem;
    /* width: 5rem; */
}


input:focus {
    outline:none;
    border-color: blue;
    border-radius: 3px;
    /* outline-style: solid; */
    /* outline-color: red; */
    box-shadow: 2px 2px 2px grey;
}

input:invalid {
    border-color: red;
    border-radius: 3px;
}


.error {
    border-color: red;
    border-radius: 3px;
}

.error:focus {
    border-color: red;
    border-radius: 3px; 
}

.logo {
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.overlay_img {
    height: 100%;
}

.combo {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-transform: uppercase;
    font-family:serif;
    font-size: 0.8rem;
}

form div {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.row {
    margin: 0.9375rem 0;
}

.form_box {
    background-color: white;
    flex: 1;
    box-shadow: 0 2px 4px lightgrey;
    padding-top: 0.625rem;
    font-size: 1.8rem;
}

.top, .bot {
    flex: 1.5 1 0;
}

.bot {
    margin-top: 2.5rem;
}

.bot > p {
    margin-top: 3rem;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding-bottom: 1.25rem;
}
.pw_box {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.no_match {
    height: 0.8rem;
    margin-top: 5px;
    color: red;
    font-size: 0.8rem;
}
p {
    margin-right: 13rem;
    font-size: 1.7rem;
}

.logo > p {
    padding: 0;
    margin: 0;
    z-index: 9;
    color: white;
    font-family: norse;
    font-size: 15vh;
}

.left > p {
    position: absolute;
    bottom: 0;
    color:white;
    width:100%;
    text-align: center;
    padding: 0;
    font-size: 0.8rem;
    opacity: 0.8;
}

.left > p > a {
    color: white;
    text-decoration: underline;
}